<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="MMALL ADMIN">
  <meta name="author" content="Rosen">
  <title>MMALL ADMIN</title>
  <link rel="shortcut icon" href="/backend/favicon.ico">
  <link href="/backend/css/app.css?f2ba70a2ce52319d5b7b" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/backend/js/base.js?f2ba70a2ce52319d5b7b"></script>
<script type="text/javascript" src="/backend/js/app.js?f2ba70a2ce52319d5b7b"></script>
</body>

</html>
